@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  background-image: linear-gradient(#00a9a5, #0b5351, #0b5351, #00a9a5);
}

.container {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.header {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.header img {
  width: 200px;
  border-radius: 50%;
  border: 3px #00a9a5 solid;
}
.header h1 {
  text-align: center;
  font-family: "Poppins";
  font-size: 26px;
  color: white;
}

.bio {
  text-align: center;
  font-family: "Poppins";
  font-size: 18px;
  color: white;
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.mainContent button {
  width: 350px;
  background-color: #00a9a5;
  padding: 10px;
  border-radius: 30px;
  font-family: "Poppins";
  font-size: 30px;
  border: 4px #0b5351 solid;
}

.mainContent button:hover {
  cursor: pointer;
  background-color: #0b5351;
  border-color: #00a9a5;
  color: white;
}

.links {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.links a:hover svg {
  fill: #0b5351;
  transform: scale(1.3);
}

@media only screen and (max-width: 430px) {
  .header img {
    width: 150px;
  }
  .mainContent button {
    width: 250px;
    font-size: 18px;
    padding: 5px;
  }
  .links {
    width: 200px;
  }
}
